// SECRET CONFIGURATION VARIABLES


//    strecklistan
//
//    baseUri
//    basicAuthUser - Username for HTTP Authorization basic header
//    basicAuthPass - Password for HTTP Authorization basic header
ext.strecklistan = [:]

ext.strecklistan.baseUri = "https://example.org/api/SETME"
ext.strecklistan.basicAuthUser = "SETME"
ext.strecklistan.basicAuthPass = null


//    iZettle SDK
//
//    githubAccessToken - Personal access token with read rights to github package registry
//    clientId - Auto generated client id from developer portal for this application
//    redirectUrlScheme - OAuth redirect url scheme set on developer portal for this application
//    redirectUrlHost - OAuth redirect url scheme set on developer portal for this application
ext.iZettleSDK = [:]

ext.iZettleSDK.githubAccessToken = "SETME"
ext.iZettleSDK.clientId = "SETME"
ext.iZettleSDK.redirectUrlScheme = "it.drawit.streckbryggan"
ext.iZettleSDK.redirectUrlHost = "redirect_uri_path"
